h1,h6,.navbar-brand{
    color: blue !important;
}

.footerNotes{
    font-size: 14px;
}



#logo{
    height: 60px;
    width: 60px;
}


.navbar{
    border-bottom: 3px blue solid !important;
}

#aHome{
    text-decoration: none;
}

#aHome:hover{
    color: white !important;
}

#navBtn{
    height: 60px !important;
    width: 110px !important;
}
